body {
  background: #050a08;
  color: #62ff8a;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  padding: 20px;
  border-bottom: 1px solid #1aff70;
}

nav a {
  margin-right: 15px;
  color: #62ff8a;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 0 0 5px #62ff8a;
}

.bloco {
  padding: 20px;
  border-bottom: 1px solid #0f3;
}

input, textarea {
  width: 100%;
  background: #000;
  border: 1px solid #1aff70;
  color: #62ff8a;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #062;
  color: #62ff8a;
  border: 1px solid #1aff70;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background: #0a3;
}

#galeriaFotos img {
  max-width: 150px;
  margin: 5px;
  border: 1px solid #1aff70;
}
